[submodule "lib/v3-core"]
	path = evm/lib/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = 0.8
[submodule "lib/v3-periphery"]
	path = evm/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
	branch = 0.8
[submodule "lib/openzeppelin-contracts"]
	path = evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/morpho-blue"]
	path = evm/lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "evm/lib/v4-core"]
	path = evm/lib/v4-core
	url = https://github.com/Uniswap/v4-core.git
